.container {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

.main {
  grid-column: full-start / full-end;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  background-color: var(--color-primary-dark);
}
